//
// Author: Jason Runzer
// error.jade
// 2/7/2017
// Shows an error message if an internal server error occurs.
//

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
