extends layout

block content
  div(id="map")
  script(src="/javascripts/maps.js")
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATPxs1A1SXw_eJUn5FxnTNjpIEc193nNM&callback=initMap")
