extends layout

block headerContent
  button(type="submit" class="btn" id="signOut" onclick="signOut()") Sign Out

block content
  #mapContainer
    div(id="map")
  #messageFeed
    p feed
  script(src="/javascripts/maps.js")
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATPxs1A1SXw_eJUn5FxnTNjpIEc193nNM&callback=initMap")
  br
  #messageContainer
    form(id="messageForm")
      .form-group
        label(id="font-big") #{name}
      .form-group
        label Message
        textarea(class="form-control inputdefault" id="messageField" type="text" rows="3")

      button(type="button" class="btn" id="saveMessage" onclick="sendMessage()") Send Message

    