doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/javascripts.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    div(class="header")
      h1 #{title}
    block content
    footer(class="footer")
      p Jason Runzer
