//
// Author: Jason Runzer
// login.jade
// 2/7/2017
// The index page to log the user in.
//

extends layout

block content
  #logoContainer
    img(id="img-logo" class="img-circle img-responsive" src="/images/logo.png")
  
  div(id="gSignIn" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark")

  