extends layout


block content
  #logoContainer
    img(id="img-logo" class="img-circle img-responsive" src="/images/logo.png")
  #signInContainer
    div(class="g-signin2" data-onsuccess="onSignIn" data-theme="dark")

  