html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  color:white;
  padding-left: 30px;
	padding-top: 60px;
	padding-bottom: 20px;
  background-color: #673AB7;
}

form {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.formLabel {
  padding-bottom: 5px;
}


.footer {
  background-color: #673AB7;
  position: fixed;
  color:white;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#map {
  height: 400px;
  width: 100%;
  margin-right: 30px;
  margin-top: 30px;
}

#logoContainer {
  width: 40%;
  max-width: 400px;
  margin: auto;
}

#img-logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

#signInContainer {
  width: 400px;
  margin: auto;
  background: blue;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

#signOut {
  margin-top: 30px;
	margin-bottom: 20px;
  margin-right: 20px;
  float: right;
}

#signOut, #saveMessage {
  color: black;
  background-color: white;
  font-weight: bold;
}

h1 {
  display: inline-block;
}

#mapContainer, #messageContainer {
  width: 70%;
  padding-left:30px;
  padding-right:30px;
}

#messageContainer {
  height:100%;
}

#font-big {
  font-size: 25px;
}

#messageForm {
  margin-top: 30px;
  color: white;
  background-color:#7E57C2;
  border-radius: 10px;
}

#saveMessage {
  color:black;
  background-color: white;
  font-weight: bold;
}


#mapContainer {
  display: inline-block;
}

#messageFeed {
  float: right;
  width: 30%;
  height: 100%;
  background-color: #EDE7F6;
}



